<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <H1>DH News</H1>
    <b> Posted in </b>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam perferendis deleniti enim? Eligendi fugit impedit fugiat reiciendis pariatur sit rerum eius animi incidunt officia, molestiae nostrum exercitationem vero temporibus dolore.</p>
    <img src="/img/destaque.jpeg" alt="" />
</body>
</html>